
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="tableContainer">
    @{Html.RenderAction("ProductsTable");
        //Html.RenderAction("Create");

    }

</div>
<div id="actionContainer">

</div>


