@model ClothBazar.entities.Catogery
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Catogery</h2>
<h3> Are you sure you want to delete <b>@Model.Name</b></h3>
<form method="post">
    <button type="submit">Confirm</button>
</form>

